.ant-layout-header{
  background-color: white;
  color: red;
}

.ant-btn{
  background-color: #1677FF;
  color: white;
  border-radius: 0;
  border: none;
  padding: 0.5rem 3.4rem;
  font-size: 1.5rem;
  height: fit-content;
  
}

h1:where(.css-dev-only-do-not-override-1rqnfsa).ant-typography{
  color:white;
  font-weight: 700;
}
.card-text{
  margin-top: 2rem;
  line-height: 1rem;
   margin-bottom: 0.625rem;
}

.ant-btn:hover{
  background-color: red;
  color: red;
}